<h2 mat-dialog-title>Cadastro de cliente</h2>
<mat-dialog-content class="mat-typography">

  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstSignUp">
      <form class="form" [formGroup]="firstSignUp">
        <ng-template matStepLabel>Etapa 1</ng-template>
        <mat-form-field>
          <mat-label>Nome Completo</mat-label>
          <input type="text" matInput required formControlName="name">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput required formControlName="email">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Data de nascimento</mat-label>
          <input matInput [matDatepicker]="picker" required formControlName="birthDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>CPF</mat-label>
          <input type="text" matInput required formControlName="CPF">
        </mat-form-field>

        <mat-form-field>
          <mat-label>RG</mat-label>
          <input type="text" matInput required formControlName="RG">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Telefone Celular</mat-label>
          <input type="text" matInput required  formControlName="cellNumber">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Telefone Fixo</mat-label>
          <input type="text" matInput required formControlName="phoneNumber">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Whatsapp</mat-label>
          <input type="text" matInput required formControlName="whatsapp">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Profissão</mat-label>
          <input type="text" matInput required formControlName="job">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Sexo</mat-label>
          <mat-select required formControlName="gender">
            <mat-option *ngFor="let gender of genders" [value]="genders">
              {{gender}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="ps-btn">
          <button mat-button matStepperNext class="btn-next">Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondSignUp">
      <form class="form" [formGroup]="secondSignUp">
        <ng-template matStepLabel>Etapa 2</ng-template>
        <mat-form-field>
          <mat-label>Endereço</mat-label>
          <input type="text" matInput required formControlName="address">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Número</mat-label>
          <input type="text" matInput required formControlName="number">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Complemento</mat-label>
          <input type="text" matInput required formControlName="complement">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Bairro</mat-label>
          <input type="text" matInput required formControlName="district">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Cidade</mat-label>
          <input type="text" matInput required formControlName="city">
        </mat-form-field>
        <mat-form-field>
          <mat-label>CEP</mat-label>
          <input type="text" matInput required formControlName="CEP">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Estado civil</mat-label>
          <input type="text" matInput required formControlName="maritalState">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Naturalidade</mat-label>
          <input type="text" matInput required formControlName="nationality">
        </mat-form-field>   
        <div class="ps-btn">
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button matStepperNext class="btn-next">Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button>Confirmar</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- <button mat-button mat-dialog-close class="btn-cancel">Cancelar</button> -->
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>