.form {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .ps-btn {
    margin-top: 5px;
    width: 90%;

    .btn-next {
      background-color: #131432;
      color: #fff;
    }
  }
  
  mat-form-field {
    width: 42%;
  }
}

.btn-confirm {
  background-color: green;
  color: #fff;
}
.btn-cancel {
  background-color: red;
  color: #fff;
}
