<div class="container">
    <form class="login mat-elevation-z5">
        <div class="form-container">
            <label>Email</label>
            <mat-form-field appearance="outline" class="form-field">
                <input type="email" matInput class="form-control">
                <mat-icon matSuffix class="icons">email</mat-icon>
            </mat-form-field>
            
            <label>Senha</label>
            <mat-form-field appearance="outline" class="form-field">
                <input type="password" matInput class="form-control">
                <mat-icon matSuffix class="icons">lock</mat-icon>

            </mat-form-field>
        </div>

    </form>
</div>