<mat-drawer-container class="drawer-container">
    <mat-drawer mode="side" opened class="side-nav">
        <div class="side-nav-header">
            <h1 class="side-nav-header-title">WP-base</h1>
        </div>
        <ul class="side-nav-menu">
            <li class="side-nav-menu-item" routerLink="dashboard/query">
                <mat-icon aria-hidden="false" class="side-nav-icon">perm_contact_calendar</mat-icon>
                <a  class="side-nav-menu-item-link">Consultas</a>
            </li>
        </ul>

    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>